<!-- <div *ngIf = "isLoginError"> Invalid username or password</div> -->
<div class = "row">
    <div class ="col-md-6 offset-md-3 mt-4" >
        <h3>Login</h3>
        <form [formGroup]="loginForm" (ngSubmit)="UserLogin(loginForm)">
            <div class="mb-3">
              <label for="loginUserName" class="form-label">Email</label>
              <input type="text" class="form-control" formControlName="loginUserName"  placeholder="Enter Email">
              <div *ngIf="loginForm.controls['loginUserName'].invalid && loginForm.controls['loginUserName'].touched " class="text-danger">
                <div *ngIf="loginForm.controls['loginUserName'].errors && loginForm.controls['loginUserName'].errors['required']">Email is required.</div>
                 <div *ngIf="loginForm.controls['loginUserName'].errors && loginForm.controls['loginUserName'].errors['pattern']">Please, enter valid email address.</div> 
            </div>
            </div>
            <div class="mb-3">
              <label for="loginPassword" class="form-label">Password</label>
              <input type="password" class="form-control" formControlName="loginPassword" placeholder="Password">
              <div *ngIf="loginForm.controls['loginPassword'].invalid && loginForm.controls['loginPassword'].touched " class="text-danger">
                <div *ngIf="loginForm.controls['loginPassword'].errors && loginForm.controls['loginPassword'].errors['required']">Password is required.</div>
                <!-- <div *ngIf="registerForm.controls['registerPassword'].errors && registerForm.controls['registerPassword'].errors['minLength']">The Password must be minimum 3 characters long.</div>    -->
             <!-- <div *ngIf="registerForm.controls['registerPassword'].errors && registerForm.controls['registerPassword'].errors['pattern']">Minimum eight characters, at least one uppercase letter, one lowercase letter and one number</div>  -->
                  </div>
            </div>
            <!-- <div class="mb-3 form-check">
             <a [routerLink]="['/reset-password']">Forgot password</a>
            </div> -->
            <button type="submit" class="btn btn-primary" [disabled] = "loginForm.invalid">Login <i class="fas fa-sign-in-alt"></i></button>
          </form>
         <div >
          <button type="submit" class="btn btn-primary" style = "margin-top: 4%;margin-right: 4%;" (click)= "loginWithGoogle()">Login With Google <i class="fab fa-google"></i></button>
          <button type="submit" class="btn btn-primary" style = "margin-top: 4%;"(click)= "loginWithFB()">Login With Facebook<i class="fab fa-facebook-square"></i></button>
        </div>

    </div>
</div>
